body {
    margin: 0 0;
}

.wrapper {
    max-width: 968px;
    width: 100%;
    margin: auto auto;
    height: 1200px;
}

nav {
    width: 100%;
    display: flex;
    background: purple;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

nav li {
    padding: 10px;
}

.documentbody {
    width: 100%;
    height: 100%;
    display: flex;
}

.maincontent {
    background: yellow;
    order: 0;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.introtext {
    text-align: justify;
}

.redboxes {
    display: flex;
    margin: 0 auto;
}

.redboxes ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.redboxes li {
    background: red;
    height: 8vmax;
    width: 8vmax;
    margin: 2%;
}

.sidebar {
    background: green;
    order: 1;
    width: 400px;
    height: 100%;
}

