body {
    margin: 0;
    text-align: center;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    background: purple;
    position: fixed;
    width: 100%;
    padding: 10px;
    margin: 0px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-self: center;
}

nav li {
    width: max-content;
    height: max-content;
    background: cyan;
    margin: 5px;
    padding: 5px;
    
}

nav a {
    text-decoration: none;
}

.body {
    display: flex;
    height: 1000px;
    margin-top: 10px;
}

.spacer {
    height: 70px;
    width: 100%;
}

.maincontent{
    background: yellow;
    flex-grow: 2;
    order: 1;
    margin-left: 10px;
}

.sidebar{
    background: green;
    flex-grow: 1;
    order: 0;
}

.footer{
    background: gray;
    height: 200px;
    margin-top: 10px;
}