.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background: purple;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-content: center;
}

.navigation {
    list-style-type: none;
    width: max-content;
    height: max-content;
    padding: 5px;
    margin: 5px;
    background: cyan;
}
