body {
    margin: 0;
}

nav {
    position: fixed;
    background: purple;
    height: 100px;
    width: 100%;
    display: flex;
}

nav ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
    display: flex;
}

nav li {
    background: aqua;
    width: fit-content;
    padding: 10%;
    align-self: center;
    margin: 10%;
}

.spacer {
    height: 100px;
    width: 100%;
}

.wrapper {
    max-width: 968px;
    padding: 0px;
    width: 100%;
    height: 800px;
    margin: auto auto;
}

.maincontent {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: auto auto;
}

.box {
    background: green;
    height: 49%;
    width: 49%;
}

.footer {
    width: 100%;
    height: 200px;
    background: grey;
}